* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(22, 114, 151);
    height: 4em;
    color: rgb(215, 235, 210);
    text-align: center;
}
 main{

    footer{
        background-color: rgb(74, 171, 216);
    }
 }
     header{
}
footer {

    background-color: rgb(41, 209, 153);
    text-align: center;

}

main{

background-color: rgb(255, 239, 215);

}